@font-face {
  font-family: "mulish";
  src: url(fonts/mulish/static/Mulish-Regular.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "mulish", sans-serif;
  overflow: hidden;
}
body {
  background-color: #f6f7fb;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
  max-width: 100%;
  margin-bottom: 30px;
}
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  height: 3px;
  top: 10px;
  left: 0;
  z-index: -1;
}
.progress {
  background-color: #3498db;
  position: absolute;
  width: 0;
  height: 3px;
  top: 10px;
  transform: translateY(100%);
  left: 0;
  transition: width 0.5s linear;
  z-index: -1;
}
.circle {
  background-color: #ffffff;
  color: #999;
  border: 2px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: 0.1s linear 0.4s;
}
.circle.active {
  border: 2px solid #3498db;
}
.btn {
  background-color: #3498db;
  width: 80px;
  border: none;
  color: #e9e9e9;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.94);
}
.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}
